.contact__envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contact__phone {
  margin-left: 50px;
}
.contact__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.contact__list {
  display: flex;
  margin-left: auto;
}

.contact__list {
  .contact {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}
.contact {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__list .contact {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
