.examples__list {
  display: flex;
  flex-wrap: wrap;
}
.examples__items {
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}
.examples__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:hover,
  &:focus {
    background: var(--primery-white-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.examples__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.examples__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.9;

  color: var(--primery-text-color);
}
.examples__thumb {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.examples__wrap {
  position: relative;
  overflow: hidden;
}
.examples__description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  overflow: hidden;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--primery-white-color);
  background: rgba(33, 150, 243, 0.9);
  .examples__link:hover & {
    transform: translateY(0);
  }
}
