.social__container {
  margin-right: 93px;
}
.social__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primery-white-color);
}
.social__list {
  display: flex;
  justify-content: center;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__item + .social__item {
  margin-left: 10px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--primery-white-color);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social__icon {
  fill: currentColor;
}
