.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-button__open {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid tomato;
  background: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  padding: 48px 40px;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #ffffff;
}
