.check__text {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
}
.check__link {
  display: flex;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--accent-color);
}
.check__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check__icon {
  fill: var(--primery-white-color);
}
.check:checked + .check__text {
  .check__item {
    background-color: var(--accent-color);
    border: none;
  }
}
.check:focus + .check__text {
  .check__item {
    border-color: var(--accent-color);
  }
}
