.header__nav {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}
.site__nav {
  display: flex;
  margin-left: 91px;
}

.site__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site__item:not(:last-child) {
  margin-right: 50px;
}
.site__nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus,
  &.current {
    color: var(--accent-color);
  }
}
.current::after {
  position: absolute;
  content: '';
  margin-top: 0;
  left: 0;
  bottom: -1px;
  display: inline-block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
