.work__item {
  position: relative;
}

.work__text {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  padding: 27px 82px;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);

  color: var(--primery-white-color);
}
.work__list {
  display: flex;
  flex-wrap: wrap;
}
.work__item {
  margin-right: 30px;
  width: 370px;

  &:nth-child(3n) {
    margin-right: 0px;
  }
}
.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}
