:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --background-color-battons: #f5f4fa;
  --icons-color: #afb1b8;
}
